@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

* {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}

.comm-font-nanumsquare {
  font-family: "NanumSquare", sans-serif;
}

html {
  height: 100%;
}
body,
#__next {
  min-height: 100%;
}

.comm-menu-left-space-width {
  @apply ml-60;
}
