@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

* {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.comm-font-nanumsquare {
  font-family: "NanumSquare", sans-serif;
}

html {
  height: 100%;
}
body,
#__next {
  min-height: 100%;
}

.comm-menu-left-space-width {
  @apply ml-60;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}
